<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/style.css}" rel="stylesheet">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	complete
	<p th:text="${time}"></p>
	<th:block th:each="productsMap, stat : ${keepProductMap}">
		<h2>注文表[[${stat.count}]]</h2>
		<table>
			<tr>
				<th>製品名</th>
				<th>個数</th>
			</tr>
			<tr th:each="item : ${productsMap}">
				<td th:text="${item.key.name}" th:class="${colorList[item.key.color]}"></td>
				<td th:text=${item.value}></td>
			</tr>
			<tr>
				<th>合計</th>
				<th th:text="${sumList[stat.index]}"></th>
			</tr>
		</table>

	</th:block>
	<a th:href="@{/}">TOP PAGE</a>
</body>
</html>